[run]
omit =
    # omit everything in /tests
    tests/*
source = src
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

